<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nuevo contrato</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
</head>
<body>
    <h2>Nuevo Contrato</h2>
    <form action="#" th:action="@{/contrato/add}"
                     th:object="${contrato}" method="post">
      <table>
        <tr>
            <td><label>Id Contrato</label></td>
            <td><input type="text" th:field="*{idContrato}" maxlength=5/></td>
            <td th:if="${#fields.hasErrors('idContrato')}" th:errors="*{idContrato}" class="error"></td>
        </tr>
        <tr>
            <td><label>Id Empresa</label></td>
            <td><input type="text" th:field="*{idEmpresa}" maxlength=5/></td>
            <td th:if="${#fields.hasErrors('idEmpresa')}" th:errors="*{idEmpresa}" class="error"></td>
        </tr>
        <tr>
            <td><label>Precio</label></td>
            <td><input type="number" th:field="*{precio}"/></td>
        </tr>
        <tr>
            <td><label>Fecha Inicio</label></td>
            <td><input type="date" th:field="*{fechaInicio}" required/></td>
        </tr>
        <tr>
            <td><label>Fecha fin</label></td>
            <td><input type="date" th:field="*{fechaFin}" required/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir Contrato" class="btn-primary" role="button" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
   