<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>
   <title>Gestionar Contratos</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Contratos</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Id Contrato</th>
         <th>Id Empresa</th>
         <th>Precio</th>
         <th>Tipo Servicio</th>
         <th>Fecha Inicio</th>
         <th>Fecha Fin</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="contrato: ${contratos}">
         <td th:text="${contrato.idContrato}"></td>
         <td th:text="${contrato.idEmpresa}"></td>
         <td th:text="${contrato.precio}"></td>
         <td th:text="${contrato.tipoServicio}"></td>
         <td th:text="${contrato.fechaInicio}"></td>
         <td th:text="${contrato.fechaFin}"></td>
         <td><a th:href="@{/contrato/update/{id}(id=${contrato.idContrato})}" class="btn btn-warning" role="button">Editar</a>
         </td>
         <td><a th:href="@{/contrato/delete/{id}(id=${contrato.idContrato})}" class="btn btn-danger" role="button">Eliminar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Añadir Contrato</a>
</div>
</div>
</body>
</html>
