<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseCommittee}">
<head>
   <title>Contratos de Empresa</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
    <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <h1>Llista de contratos</h1>
    <h2>Empresa</h2>
    <h3>Contratos por Tipo</h3>
		<!-- --> 
    <div th:each="tipo: ${contratos.keySet()}">
      <h4 th:text="${tipo}"></h4>
      <ul>
          <li th:each="empresa: ${contratos.get(tipo)}">
            <span th:text="${empresa.idEmpresa}"></span>
          </li>
      </ul>
    </div>
</div> 
</body>
</html>
