<link rel="stylesheet"      
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
/* Estil aplicat al cos de la pàgina */
body {
   font-family: Roboto, Helvetica, Arial, sans-serif; 
   background-color: white;
   max-width: 500px;
   padding: 20px 12px 10px 20px;
}

/* Capçalera de nivell 1 */
h1 {
   font-size: 250%; 
   font-weight: bold;
   color: #000080;
   magin-bottom: 10px;
   padding-bottom: 3px;
}

/* Capçalera de nivell 2 */
h2 {
   font-size: 180%;
   font-weight: bold;
   color: #00008B;
   border-bottom: 2px solid #ddd;
   margin-bottom: 15px;
   padding-bottom: 3px;
}

label {
	font-weight: bold;
	display: block;
	margin: 0px 10px 15px 0px;
}

input, select {
	font-size: 103%;
}

.error {
	 width: 400px;
     color: #8B0000;
     font-size:85%;
     text-align: left;
     vertical-align: middle;
     padding-left: 10px;
     /*margin: 0px 0px 0px 30px;*/
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #4682B4;
	color: #fff;
	box-shadow: 1px 1px 4px #4682B4;
	-moz-box-shadow: 1px 1px 4px #4682B4;
	-webkit-box-shadow: 1px 1px 4px #4682B4;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.needcorrection {
     color: red;
     background-color:yellow;
}

.loggeduser { 
    color: gray;                
    text-align: right;
	margin-right: 10pt;
}