/* Estil aplicat al cos de la pàgina */
body {
   font-family: Helvetica, Arial, sans-serif; 
   background-color: white;
}

/* Capçalera de nivell 1 */
h1 {
   font-size: 300%; 
   font-style: bold;
   color: #6495ED;
}

/* Capçalera de nivell 2 */
h2 {
   font-size: 200%;
   font-style: bold; 
   color: #87CEFA;
}

/* Classe CSS error */
.error {
     color: #8B0000;
     font-size:80%
}