<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nuevo voluntario</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nuevo Voluntario</h2>
    <form action="#" th:action="@{/voluntario/add}"
                     th:object="${voluntario}" method="post">
      <table>
        <tr>
            <td><label>Id Voluntario</label></td>
            <td><input type="text" th:field="*{idVoluntario}" /></td>
            <td th:if="${#fields.hasErrors('idVoluntario')}" th:errors="*{idVoluntario}" class="error"></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td>
        </tr>
        <tr>
            <td><label>E-mail</label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
            <td th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="error"></td>
        </tr>
        <tr>
            <td><label>Hobbies</label></td>
            <td><input type="text" th:field="*{hobbies}" /></td>
        </tr>
        <tr>
            <td><label>Fecha petición voluntariado</label></td>
            <td><input type="date" th:field="*{fechaPeticionVoluntariado}" /></td>
            <!-- <td th:if="${#fields.hasErrors('fechaPeticionVoluntariado')}" th:errors="*{fechaPeticionVoluntariado}" class="error"></td>
         --></tr>
        <tr>
            <td><label>Fecha aceptación voluntariado</label></td>
          <!-- <td><input type="date" th:field="*{fechaAceptacionVoluntariado}" /></td>
         --></tr>
        <tr>
            <td><label>Fecha fin de voluntariado</label></td>
            <td><input type="date" th:field="*{fechaFin}" /></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td>
        </tr>
        <!-- <tr>
        	<td><label>Aceptada</label></td>
        	<td><input type="checkbox" th:field="*{aceptado}" /></td>
        </tr>   -->
        <tr>
            <td><label>Género</label></td>
            <td><select class="form_control" type="text" th:field="*{genero}"> 
				<option value="No seleccionada">Selecciona el género</option> 
				<option value="Femenino">Femenino</option>
				<option value="Masculino">Masculino</option>
			</select>
  			</td>
  			<td th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error"></td>
        </tr>
        <tr>
            <td><label>Edad</label></td>
            <td><input type="number" th:field="*{edad}" /></td>
            <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="error"></td>
        </tr>
        <tr>
            <td><label>Contrasenya</label></td>
            <td><input type="text" th:field="*{contrasenya}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Anyadir Voluntario" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
   