<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseVoluntario}">
<head>
   <title>Gestionar Horarios de Voluntarios</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Esta es tu lista de horarios</h1>
   <div th:if="${#lists.isEmpty(horarios)}">
       Todavia no has registrado ningún horario.
    </div>
   <table th:unless="${#lists.isEmpty(horarios)}" class="table table-striped">
     <thead>
       <tr>
         <th>Número Horario</th>
         <th>DNI Beneficiario Asignado</th>
         <th>Fecha</th>
         <th>Hora Inicio</th>
         <th>Hora Fin</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="horario: ${horarios}">
         <td th:text="${horario.idHorario}"></td>
         <td th:text="${horario.idBeneficiario}"></td>
         <td th:text="${horario.fecha}"></td>
         <td th:text="${horario.horaInicio}"></td>
         <td th:text="${horario.horaFin}"></td>
         <td><center><a th:href="@{/voluntario/updateHorario/{id}(id=${horario.idHorario})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/voluntario/deleteHorario/{id}(id=${horario.idHorario})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
</div>
</div>
</body>
</html>
