<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseVolunteer}">
<head>
   <title>Gestionar Voluntarios</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/majorsACasa.css" th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Voluntarios</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>DNI</th>
         <th>Nombre</th>
         <th>E-mail</th>
         <th>Hobbies</th>
         <th>Fecha Petición Voluntariado</th>
         <th>Fecha Aceptación Voluntariado</th>
         <th>Fecha Fin</th>
         <th>Aceptado</th>
         <th>Género</th>
         <th>Edad</th>
         <th>Contraseña</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="voluntario: ${voluntarios}">
         <td th:text="${voluntario.idVoluntario}"></td>
         <td th:text="${voluntario.nombre}"></td>
         <td th:text="${voluntario.email}"></td>
         <td th:text="${voluntario.hobbies}"></td>
         <td th:text="${voluntario.fechaPeticionVoluntariado}"></td>
         <td th:text="${voluntario.fechaAceptacionVoluntariado}"></td>
         <td th:text="${voluntario.fechaFin}"></td>
         <td th:text="${voluntario.aceptado}"></td>
         <td th:text="${voluntario.genero}"></td>
         <td th:text="${voluntario.edad}"></td>
         <td th:text="${voluntario.contrasenya}"></td>
         <td><center><a th:href="@{/voluntario/update/{id}(id=${voluntario.idVoluntario})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/voluntario/delete/{id}(id=${voluntario.idVoluntario})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Añadir Voluntario <i class="fas fa-angle-right fa"></i><i class="fas fa-angle-right fa"></i></a>
</div>
</div>
</body>
</html>
