<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseManager}">
<head>
	<title>Majors a casa</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<h1>Gestión de Majors a casa</h1>
		<h2>Opciones de Manager</h2>
		<ul>
		<li><a href="peticion/list">Gestión de peticiones</a></li>
		</ul>
	</div>
</div>
</body>
</html>
