<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseManager}">
<head>
   <title>Gestionar Empresas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Peticiones</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>DNI Beneficiario</th>
         <th>Nombre Empresa</th>
         <th>Comentarios</th>
         <th>Tipo servicio</th>
         <th>Estado</th>
         <th>Fecha aprobación</th>
         <th>Fecha denegación</th>
         <th>Fecha creación</th>
         <th>Fecha cancelación</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="peticion: ${peticiones}">
         <td th:text="${peticion.idBeneficiario}"></td>
         <td th:text="${peticion.nombreEmpresa}"></td>
         <td th:text="${peticion.comentarios}"></td>
         <td th:text="${peticion.tipoServicio}"></td>
         <td th:text="${peticion.estado}"></td>
         <td th:text="${#temporals.format(peticion.fechaAprobacion,'dd/MM/yyyy')}"></td>
         <td th:text="${#temporals.format(peticion.fechaDenegacion,'dd/MM/yyyy')}"></td>
         <td th:text="${#temporals.format(peticion.fechaCreacion,'dd/MM/yyyy')}"></td>
         <td th:text="${#temporals.format(peticion.fechaCancelacion,'dd/MM/yyyy')}"></td>
         <td><center><a th:href="@{/peticion/update/{id}(id=${peticion.idPeticion})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/peticion/delete/{id}(id=${peticion.idPeticion})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn-primary" role="button">Añadir Petición <i class="fas fa-angle-right fa"></i><i class="fas fa-angle-right fa"></i></a>
</div>
</div>
</body>
</html>
