<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"  
      href="/css/majorsACasa.css"
      th:href="@{/css/majorsACasa.css}"/>
<title>Confirm</title>
<meta charset="UTF-8"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
	<h2>Confirmar</h2>
	<form action="#" th:action="@{/confirm}" 
	      th:object="${accion}" method="post">
		<p>
		   	<button type="button" data-dismiss="modal" class="btn">Cancel</button>
            <input class="form_control" type="text" th:field="*{username}"/>
		</p>
	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
		
		<p>
		   	<label>Contrasenya:</label>
            <input class="form_control" type="password" th:field="*{password}"/>
		</p>		
		<input type="submit" value="Accedir" />
	</form>

</body>
</html>
