<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"  
      href="/css/majorsACasa.css"
      th:href="@{/css/majorsACasa.css}"/>
<title>Confirm</title>
<meta charset="UTF-8"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
	<h2>Confirmar</h2>
	<form action="#" th:action="@{/confirm}" th:object="${accion}" method="post">
		<input class="form_control" type="text" th:field="*{accion}" value=True/>
	    <button type="submit" class="btn" value="False">Cancel</button>
	</form>
</body>
</html>
