<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseCommittee}">
<head>
	<title>Majors a casa</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<h1>Gestión de Majors a casa</h1>
		<h2>Opciones de Comité</h2>
		<ul>
		<li><a href="contrato/list">Gestión de contratos</a></li>
		<li><a href="empresa/list">Gestión de empresas</a></li>
		</ul>
	</div>
</div>
</body>
</html>
