<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear horario voluntario</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nuevo Horario</h2>
    <form action="#" th:action="@{/horarioVoluntario/add}"
                     th:object="${horarioVoluntario}" method="post">
      <table>
      	<tr>
            <td><label>Id Horario</label></td>
            <td><input type="text" th:field="*{idHorario}" /></td>
            <td th:if="${#fields.hasErrors('idHorario')}" th:errors="*{idHorario}" class="error"></td>
        </tr>
        <tr>
            <td><label>Id Voluntario</label></td>
            <td><input type="text" th:field="*{idVoluntario}" /></td>
            <td th:if="${#fields.hasErrors('idVoluntario')}" th:errors="*{idVoluntario}" class="error"></td>
        </tr>
        <tr>
            <td><label>Id Beneficiario</label></td>
            <td><input type="text" th:field="*{idBeneficiario}" /></td>
            <td th:if="${#fields.hasErrors('idBeneficiario')}" th:errors="*{idBeneficiario}" class="error"></td>
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}" required/></td>
        </tr>
        <tr>
            <td><label>Hora Inicio</label></td>
            <td><input type="time" th:field="*{horaInicio}" required/></td>
        </tr>
        <tr>
            <td><label>Hora Fin</label></td>
            <td><input type="time" th:field="*{horaFin}" required/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Anyadir Horario" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
   