<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseVolunteer}">
<head>
   <title>Gestionar Horarios de Voluntarios</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Horarios de Voluntarios</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Número Horario</th>
         <th>DNI Voluntario</th>
         <th>DNI Beneficiario</th>
         <th>Fecha</th>
         <th>Hora Inicio</th>
         <th>Hora Fin</th>
         <th>Libre</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="horarioVoluntario: ${horariosVoluntarios}">
         <td th:text="${horarioVoluntario.idHorario}"></td>
         <td th:text="${horarioVoluntario.idVoluntario}"></td>
         <td th:text="${horarioVoluntario.idBeneficiario}"></td>
         <td th:text="${#temporals.format(horarioVoluntario.fecha,'dd/MM/yyyy')}"></td>
         <td th:text="${horarioVoluntario.horaInicio}"></td>
         <td th:text="${horarioVoluntario.horaFin}"></td>
         <td th:text="${horarioVoluntario.libre} ? 'Libre' : 'Ocupado'"></td>
         <td><center><a th:href="@{/horarioVoluntario/update/{id}(id=${horarioVoluntario.idHorario})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/horarioVoluntario/delete/{id}(id=${horarioVoluntario.idHorario})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn-primary" role="button">Añadir Horario <i class="fas fa-angle-right fa"></i><i class="fas fa-angle-right fa"></i></a>
</div>
</div>
</body>
</html>
