<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nueva factura</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nueva factura</h2>
    <form action="#" th:action="@{/factura/add}"
                     th:object="${factura}" method="post">
      <table>
        <tr>
            <td><label>Id Factura</label></td>
            <td><input type="text" th:field="*{idFactura}" maxlength=10/></td>
            <td th:if="${#fields.hasErrors('idFactura')}" th:errors="*{idFactura}" class="error"></td>
        </tr>
        <tr>
            <td><label>Id Beneficiario</label></td>
            <td><input type="text" th:field="*{idBeneficiario}" maxlength=9/></td>
            <td th:if="${#fields.hasErrors('idBeneficiario')}" th:errors="*{idBeneficiario}" class="error"></td>
        </tr>
        <tr>
            <td><label>Fecha Creacion</label></td>
            <td><input type="date" th:field="*{fechaCreacion}" required/></td>
        </tr>
        <tr>
            <td><label>Fecha Inicio</label></td>
            <td><input type="date" th:field="*{fechaInicio}" required/></td>
        </tr>
        <tr>
            <td><label>Fecha Fin</label></td>
            <td><input type="date" th:field="*{fechaFin}" required/></td>
        </tr>
        <tr>
            <td><label>Concepto</label></td>
            <td><input type="text" th:field="*{concepto}" maxlength=50/></td>
        </tr>
        <tr>
            <td><label>Cantidad</label></td>
            <td><input type="number" th:field="*{cantidad}" /></td>
        </tr>
        <tr>
            <td colspan="2"><a href="add" class="btn btn-primary" role="button">Añadir Factura</a></td>
        </tr>
      </table>
    </form>
</body>
</html>