<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>
   <title>Gestionar Facturas</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Facturas</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Número Factura</th>
         <th>DNI Beneficiario</th>
         <th>Fecha Creación</th>
         <th>Fecha Inicio</th>
         <th>Fecha Fin</th>
         <th>Concepto</th>
         <th>Cantidad</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="factura: ${facturas}">
       <td th:text="${factura.idFactura}"></td>
         <td th:text="${factura.idBeneficiario}"></td>
         <td th:text="${#temporals.format(factura.fechaCreacion,'dd/MM/yyyy')}"></td>
         <td th:text="${#temporals.format(factura.fechaInicio,'dd/MM/yyyy')}"></td>
         <td th:text="${#temporals.format(factura.fechaFin,'dd/MM/yyyy')}"></td>
         <td th:text="${factura.concepto}"></td>
         <td th:text="${factura.cantidad}"></td>
         <td><center><a th:href="@{/factura/update/{id}(id=${factura.idFactura})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/factura/delete/{id}(id=${factura.idFactura})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn-primary" role="button">Añadir Factura <i class="fas fa-angle-right fa"></i><i class="fas fa-angle-right fa"></i></a>
</div>
</div>
</body>
</html>