<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>
   <title>Editar una factura</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <h2>Editar factura</h2>
    <form action="#" th:action="@{/factura/update}"
                     th:object="${factura}" method="post">
      <table>
        <tr>
            <td><label>Número Factura</label></td>
            <td><input type="text" th:field="*{idFactura}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>DNI Beneficiario</label></td>
            <td><input type="text" th:field="*{idBeneficiario}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha Creación </label></td>
            <td><input type="date" th:field="*{fechaCreacion}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha Inicio</label></td>
            <td><input type="date" th:field="*{fechaInicio}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha Fin</label></td>
            <td><input type="date" th:field="*{fechaFin}" required/></td>
        </tr>
        <tr>
            <td><label>Concepto</label></td>
            <td><input type="text" th:field="*{concepto}" maxlength=50/></td>
        </tr>
        <tr>
            <td><label>Cantidad</label></td>
            <td><input type="number" th:field="*{cantidad}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar Factura" class="btn-primary" role="button" /></td>
        </tr>
      </table>
    </form>
</div>
</body>
</html>