<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>
<title>Lista de usuarios del sistema</title>
<meta charset="UTF-8"/>
<!-- Afegim una fulla d'estil (Bootstrap) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css" 
                                    th:href="@{/css/majorsACasa.css}"/>
</head>

<body>
<div layout:fragment="content">
    <h2>Lista de usuarios del sistema</h2>
    <div th:if="${#lists.isEmpty(users)}">
       No hay usuarios
    </div>
    <table th:unless="${#lists.isEmpty(users)}"  class="table table-condensed">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
        </tr>
      </thead>
      
      <tbody>
        <tr th:each="user: ${users}">
          <td th:text="${user.username}"></td>
        </tr>
      </tbody>
    </table>
    <a href="/" class="btn btn-primary" role="button">Volver</a>
</div>
</body>
</html>

    