<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Lineas Facturas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
   <h1>Lista de Lineas Factura</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Id Factura</th>
         <th>Id Beneficiario</th>
         <th>Codigo Linea</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="lineaFactura: ${lineasFactura}">
         <td th:text="${lineaFactura.idFactura}"></td>
         <td th:text="${lineaFactura.idPeticion}"></td>
         <td th:text="${lineaFactura.codigoLinea}">
         <td><a th:href="@{/lineaFactura/delete/{idF,idB,c}(idF=${lineaFactura.idFactura},idB=${lineaFactura.idBeneficiario},c=${lineaFactura.codigoLinea})}" class="btn btn-danger" role="button">Eliminar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Anyadir Empresa</a>
</div>
</body>
</html>