<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>
   <title>Gestionar Lineas Facturas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Líneas Factura</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Número Factura</th>
         <th>Número Petición</th>
         <th>Código Línea</th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="lineaFactura: ${lineasFactura}">
         <td th:text="${lineaFactura.idFactura}"></td>
         <td th:text="${lineaFactura.idPeticion}"></td>
         <td th:text="${lineaFactura.codigoLinea}"></td>
         <td><center><a th:href="@{/lineaFactura/delete/{idF},{idP},{c}(idF=${lineaFactura.idFactura},idP=${lineaFactura.idPeticion},c=${lineaFactura.codigoLinea})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Añadir Línea de Factura <i class="fas fa-angle-right fa"></i><i class="fas fa-angle-right fa"></i></a>
</div>
</div>
</body>
</html>