<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nueva empresa</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nueva empresa</h2>
    <form action="#" th:action="@{/empresa/add}"
                     th:object="${empresa}" method="post">
      <table>
        <tr>
            <td><label>Id Empresa</label></td>
            <td><input type="text" th:field="*{idEmpresa}" /></td>
        </tr>
        <tr>
            <td><label>Nombre Empresa</label></td>
            <td><input type="text" th:field="*{nombreEmpresa}" /></td>
        </tr>
        <tr>
            <td><label>Tipo Servicio</label></td>
            <td><input type="text" th:field="*{tipoServicio}" /></td>
        </tr>
        <tr>
            <td><label>Nombre Manager</label></td>
            <td><input type="text" th:field="*{nombreManager}" /></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="text" th:field="*{telefono}" /></td>
        </tr>
        <tr>
            <td><label>Horario Atención al Cliente</label></td>
            <td><input type="text" th:field="*{horarioAtencionCliente}" /></td>
        </tr>
        <tr>
            <td><label>E-mail Manager</label></td>
            <td><input type="text" th:field="*{emailManager}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Anyadir Empresa" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
   