<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseEmpresa}">
<head>
   <title>Gestionar Contratos</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
    <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
   <h1>Lista de Contratos</h1>
   <div th:if="${#lists.isEmpty(contratos)}">
       Todavía no ha firmado ningún contrato.
    </div>
   <table th:unless="${#lists.isEmpty(contratos)}" class="table table-striped"> 
     <thead>
       <tr>
         <th>Indice contrato</th>
         <th>Precio</th>
         <th>Fecha Inicio</th>
         <th>Fecha Fin</th>
         <th><font size="+1">Listar Beneficiarios</font></th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="contrato: ${contratos}">
         <td th:text="${contrato.idContrato}"></td>
         <td th:text="${contrato.precio}"></td>
         <td th:text="${#temporals.format(contrato.fechaInicio,'dd/MM/yyyy')}"></td>
         <td th:text="${#temporals.format(contrato.fechaFin,'dd/MM/yyyy')}"></td>
         <td><a th:href="@{/empresa/listBeneficiarios/{id}(id=${contrato.idContrato})}" class="btn btn-info" role="button"><i class="fas fa-bars"></i></a>
         <td><a th:href="@{/empresa/updateContrato/{id}(id=${contrato.idContrato})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a>
         </td>
         <td><a th:href="@{/empresa/deleteContrato/{id}(id=${contrato.idContrato})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a>
       </tr>
     </tbody>
   </table>
</div>
</div>
</body>
</html>
