<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Empresas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
   <h1>Lista de Empresas</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Id Empresa</th>
         <th>Nombre Empresa</th>
         <th>Nombre Manager</th>
         <th>Direccion</th>
         <th>Telefono</th>
         <th>Horario Atencion al Cliente</th>
         <th>E-mail Manager</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="empresa: ${empresas}">
         <td th:text="${empresa.idEmpresa}"></td>
         <td th:text="${empresa.nombreEmpresa}"></td>
         <td th:text="${empresa.nombreManager}"></td>
         <td th:text="${empresa.direccion}"></td>
         <td th:text="${empresa.telefono}"></td>
         <td th:text="${empresa.horarioatencionCliente}"></td>
         <td th:text="${empresa.emailManager}"></td>
         <td><a th:href="@{/empresa/update/{id}(id=${empresa.idEmpresa})}" class="btn btn-warning" role="button">Editar</a>
         </td>
         <td><a th:href="@{/empresa/delete/{id}(id=${empresa.idEmpresa})}" class="btn btn-danger" role="button">Eliminar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-success" role="button">Anyadir Empresa</a>
</div>
</body>
</html>
