<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseCommittee}">
<head>
   <title>Gestionar Empresas</title>
   <meta charset="UTF-8" />
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  -->
	<link rel="stylesheet" type="text/css" href="/css/majorsACasa.css"
                                    th:href="@{/css/majorsACasa.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body>

<div layout:fragment="content">


<div class="container">
   <h1>Lista de Empresas</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>CIF</th>
         <th>Nombre Empresa</th>
         <th>Tipo Servicio</th>
         <th>Persona de contacto</th>
         <th>Dirección</th>
         <th>Teléfono</th>
         <th>Horario de Atención al Cliente</th>
         <th>E-mail Manager</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="empresa: ${empresas}">
         <td th:text="${empresa.idEmpresa}"></td>
         <td th:text="${empresa.nombreEmpresa}"></td>
         <td th:text="${empresa.tipoServicio}"></td>
         <td th:text="${empresa.nombreManager}"></td>
         <td th:text="${empresa.direccion}"></td>
         <td th:text="${empresa.telefono}"></td>
         <td th:text="${empresa.horarioAtencionCliente}"></td>
         <td th:text="${empresa.emailManager}"></td>
         <td><center><a th:href="@{/empresa/update/{id}(id=${empresa.idEmpresa})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/empresa/delete/{id}(id=${empresa.idEmpresa})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn-primary" role="button">Añadir Empresa <i class="fas fa-angle-right fa"></i><i class="fas fa-angle-right fa"></i></a>
			
	<!-- <div id="delete" class="modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<button href="@{/empresa/delete/{id}(id=${empresa.idEmpresa})}" type="submit" class="btn btn-danger" value="Delete"></button>
					</div>
				</form>
			</div>
		</div>
	</div>-->
			

</div>
</div>
</body>
</html>