<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar una empresa</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Editar empresa</h2>
    <form action="#" th:action="@{/empresa/update}"
                     th:object="${empresa}" method="post">
      <table>
        <tr>
            <td><label>Id Empresa</label></td>
            <td><input type="text" th:field="*{idEmpresa}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Nombre Empresa</label></td>
            <td><input type="text" th:field="*{nombreEmpresa}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}" class="error"></td>
        </tr>
        <tr>
            <td><label>Tipo Servicio</label></td>
            <td><input type="text" th:field="*{tipoServicio}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Nombre Manager</label></td>
            <td><input type="text" th:field="*{nombreManager}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('nombreManager')}" th:errors="*{nombreManager}" class="error"></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="error"></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="text" th:field="*{telefono}" maxlength=12/></td>
            <td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="error"></td>
        </tr>
        <tr>
            <td><label>Horario de Atención al Cliente</label></td>
            <td><input type="text" th:field="*{horarioAtencionCliente}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('horarioAtencionCliente')}" th:errors="*{horarioAtencionCliente}" class="error"></td>
        </tr>
        <tr>
            <td><label>E-mail Manager</label></td>
            <td><input type="text" th:field="*{emailManager}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('emailManager')}" th:errors="*{emailManager}" class="error"></td>
        </tr>
        <tr>
            <td colspan="2"><a href="add" class="btn btn-primary" role="button">Editar Empresa</a></td>
        </tr>
      </table>
    </form>
</body>
</html>