<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/baseBeneficiario}">
<head>
   <title>Gestionar Empresas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" type="text/css" href="/css/beneficiario.css"
                                    th:href="@{/css/beneficiario.css}"/>
   <script src="https://kit.fontawesome.com/5411309076.js" crossorigin="anonymous"></script>
</head>
<body class="grande">
<div layout:fragment="content">
<div class="container">
    <h1>Estas son sus peticiones</h1>
    <div th:if="${#lists.isEmpty(peticiones)}">
       Todavía no ha realizado ninguna petición.
    </div>
	<table th:unless="${#lists.isEmpty(peticiones)}" class="table table-striped">
    <thead>
       <tr>
         <th>Tipo de servicio</th>
         <th>Fecha petición</th>
         <th>Estado</th>
         <th>Comentarios</th>
         <th><font size="+1">Editar</font></th>
         <th><font size="+1">Eliminar</font></th>
       </tr>
     </thead>	
	 <tbody>
       <tr th:each="peticion: ${peticiones}">
         <td th:text="${peticion.tipoServicio}"></td>
         <td th:text="${#temporals.format(peticion.fechaCreacion,'dd/MM/yyyy')}"></td>
         <td th:text="${peticion.estado}"></td>
         <td th:text="${peticion.comentarios}"></td>
         <td><center><a th:href="@{/beneficiario/updatePeticion/{id}(id=${peticion.idPeticion})}" class="btn btn-warning" role="button"><i class="far fa-edit fa-lg"></i></a></center>
         </td>
         <td><center><a th:href="@{/beneficiario/deletePeticion/{id}(id=${peticion.idPeticion})}" class="btn btn-danger" role="button"><i class="fas fa-trash fa-lg"></i></a></center>
         </td>
       </tr>
     </tbody>
   </table>	
</div>
</div>
</body>
</html>
