<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar un beneficiario</title>
   <meta charset="UTF-8" />
	<link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Editar beneficiario</h2>
    <form action="#" th:action="@{/beneficiario/update}"
                     th:object="${beneficiario}" method="post">
      <table>
        <tr>
            <td><label>Id Beneficiario</label></td>
            <td><input type="text" th:field="*{idBeneficiario}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="error"></td>
        </tr>
        <tr>
            <td><label>Género</label></td>
            <td><input type="text" th:field="*{genero}" readonly="readonly"></td>
        </tr>
        <tr>
            <td><label>Edad</label></td>
            <td><input type="number" th:field="*{edad}" readonly="readonly"/></td>
            <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="error"></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="text" th:field="*{contrasenya}" maxlength=50/></td>
            <td th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}" class="error"></td>
        </tr>
        <tr>
            <td><label>Hobbies</label></td>
            <td><input type="text" th:field="*{hobbies}" maxlength=400/></td>
        </tr>
        <tr>
            <td><label>Alergias</label></td>
            <td><input type="text" th:field="*{alergias}" maxlength=150/></td>
        </tr>
        <tr>
            <td><label>Enfermedades</label></td>
            <td><input type="text" th:field="*{enfermedades}" maxlength=300/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Editar Beneficiario" /></td>
        </tr>
      </table>
    </form>
</body>
</html>